<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base.html" %}
<html>
{% block title %}Twoje konto{% endblock %}
<body>
{% block header %}Dołącz do nas{% endblock %}
	
	{% block content %}
	
		
	<h2>Podzielisz się własnymi uwagami?</br>Nowymi miejscami lub szlakami?</br>Zaloguj się i rozpowszechniaj z nami miejsca, które kochasz!</h2>
		
		<script>
		$(document).ready(function(){
			$("#button_location").click(function(){ //obiekt na któy klikasz, by wywołać reakcję
			$("#to_hide_location").toggle(1500); //obiekt, który chcesz ukrywać / pokazywać (odwraca obecny stan "display")
			})		//czas w milisekundach
		}) //P.S. zaleca się korzystanie z id przy tym, bo można się pomylić. Ale class TEŻ działa
		
		</script>
				<script>
		$(document).ready(function(){
			$("#button_path").click(function(){ //obiekt na któy klikasz, by wywołać reakcję
			$("#to_hide_path").toggle(1500); //obiekt, który chcesz ukrywać / pokazywać (odwraca obecny stan "display")
			})		//czas w milisekundach
		}) //P.S. zaleca się korzystanie z id przy tym, bo można się pomylić. Ale class TEŻ działa
		
		</script>
		
		<div id="button_location" class="button">Dodaj nowe miejsce</div>
		<div id="to_hide_location" style="display: none;">
		<!--   <form action="{% url 'harcowanie.views.account' %}" method="post"> -->
	{% csrf_token %}
	<table>
	<tr>
		<td>Nazwa:</td> <td><input class="text_area" type="text" name="location_name" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
		<td>Co to za miejsce?</td> <td><input class="text_area" type="text" name="location_type" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
	<td>Województwo</td><td><select class="text_area" name="województwa" >
	{% for district in districts %}
	<option>{{district}}</option>
	{% endfor %}
</select>

</td>
	</tr>
	<tr>
		<td>Najbliższe miasto:</td> <td><input class="text_area" type="text" id="location_citier" name="location_city" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
	
		<td>Drugie najbliższe miasto:</td> <td><input class="text_area" type="text" name="location_second_city" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
		<td>Czy jest na szlaku? Jakim?:</td> <td><input class="text_area" type="text" name="location_path" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
		<td>Opis miejsca:</td> <td><textarea class="text_area" name="Text1" cols="40" rows="5" ></textarea></td> 
	</tr>
<tr>
<td></td><td><input type="submit" value="__DODAJĘ__" name="new_place"></td>
</tr>
	</table>
	<p>
		
		<!-- <input type="submit" value="add_location">-->
	</p>
</form>
		
		
		</div>
			<div id="button_path" class="button">Dodaj nowy szlak</div>
		<div id="to_hide_path" style="display: none;">
		<!--   <form action="{% url 'harcowanie.views.account' %}" method="post"> -->
	{% csrf_token %}
	<table>
	<tr>
		<td>Nazwa:</td> <td><input class="text_area" type="text" name="path_name" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
		<td>Co to za szlak?</td> <td><input class="text_area" type="text" name="path_type" maxlength="40" size="40" /></td> 
	</tr>
	<tr>
		<td>Opis szlaku:</td> <td><input class="text_area" type="text" name="path_description" maxlength="40" size="100" /></td> 
	</tr>
<tr>
<td></td><td><input type="submit" value="__DODAJĘ__" name="new_path"></td>
</tr>
	</table>
	<p>
		
		<!-- <input type="submit" value="add_location">-->
	</p>
</form>
		
		</div>
			
		
		<h1 id="news">TOP Uzytkownicy:</h1>


		{% for user in users %}
		<div class="one_news decent_background">
			<a href=""><h2>{{user.nick_name}}</h2></a>
			<pre><span>{{user.first_name}}</span></pre>
		</div>
		{% endfor %}
	
	
	{% endblock %}
</body>
</html>