<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>{% block title %}HARC, górski Harcownik{% endblock %}</title> 

{% include 'imports.html' %}



</head>
<body>
	{% include 'scripts.html' %}
	<div class="decent_background" id="header">
		<h1 id="header_text">{% block header %}HARC{% endblock %}</h1>
	</div>

	<div id="logging">
		{% if user.is_authenticated %}
		<h2 id="user_welcome">Witaj, {{user.username}}!</h2>
		  <a id="logout_button" href="{% url 'harcowanie.views.logouting' %}">Wyloguj się</a>
		{% else %}
		<form method="post" action="{% url 'harcowanie.views.logging' %}">
			{% csrf_token %}
			<div style="display: inline-block;">
				<p>
					<label for="id_username">Username:</label> <input id="id_username"
						type="text" name="username" maxlength="30" size="17" />
				</p>
				<p>
					<label for="id_password">Password:</label> <input type="password"
						name="password" id="id_password" size="17" />
				</p>
			</div>
			<div id="log_button">
				<input id="login" type="submit" value="Log in" />
			</div>
		</form>
		{% endif %}
	</div>

	<div style="clear: both;"></div>
	
	<!-- a trick needed to separate header from content ;-) -->


	<ul class="decent_background" id="menu">

		<li><a href="{% url 'harcowanie.views.paths' %}"
			class="big_menu_button">SZLAKI</a>
			<ul>
				<li><a href="#" class="small_menu_button">Dodaj nowy</a></li>
				<li><a href="#" class="small_menu_button">Skomentuj</a></li>
				<li><a href="#" class="small_menu_button">Inne</a></li>
			</ul></li>
			
		<li><a href="{% url 'harcowanie.views.locations' %}"
			class="big_menu_button">MIEJSCA</a>
			<ul>
				<li><a href="#" class="small_menu_button">Dodaj nowy</a></li>
				<li><a href="#" class="small_menu_button">Skomentuj</a></li>
				<li><a href="#" class="small_menu_button">Inne</a></li>
			</ul></li>
			
		<li><a href="/konto" class="big_menu_button">MOJE KONTO</a>
			<ul>
				<li><a href="#" class="small_menu_button">Dodaj nowy</a></li>
				<li><a href="#" class="small_menu_button">Skomentuj</a></li>
				<li><a href="#" class="small_menu_button">Inne</a></li>
			</ul></li>
	</ul>


	<div id="content">
	
		{% block content %} {% endblock %}
	
	</div>

</body>
</html>
