<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block title %}Nasz HARC{% endblock %}
<body>

	{% block content %}
	
	<div id="tabela">
	 <div class='b-load'>
	
				<div class="one_news decent_background">
					<h2>{{all_news.0.title}}</h2> 
				<span>{{all_news.0.content|linebreaks}}</span>
			
				</div>

				<div class="one_news decent_background">
					<h2>{{all_news.2.title}}</h2> 
				<span>{{all_news.2.content}}</span>
		
				</div>

				<div class="one_news decent_background">
					<h2>{{all_news.0.title}}</h2> 
				<span>{{all_news.0.content|linebreaks}}</span>
			
				</div>

				<div class="one_news decent_background">
					<h2>{{all_news.1.title}}</h2> 
				<span>{{all_news.1.content}}</span>
			
				</div>
				<div class="one_news decent_background">
					<h2>{{all_news.2.title}}</h2> 
				<span>{{all_news.2.content}}</span>
			
				</div>

				<div class="one_news decent_background">
					<h2>{{all_news.0.title}}</h2> 
				<span>{{all_news.0.content|linebreaks}}</span>
			
				</div>

				<div class="one_news decent_background">
					<h2>{{all_news.1.title}}</h2> 
				<span>{{all_news.1.content}}</span>
			
				</div>

</div>
	</div>
	<script>
	
	$(document).ready(function(){
		  $('#tabela').booklet();
		  
		})
	</script>
	{% endblock %}



</body>
</html>
