<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "base.html" %}
<html>
{% block title %}{{miejsce.name}}{% endblock %}

<body>
	{%block content %} <h1>{{miejsce.name}}</h1>
	<div id="content">

	<h1>Opis:</h1>
		<span>{{miejsce.description}}</span>
		
	<h1>Nasze spostrzeżenia:</h1>
		{% if user.is_authenticated %}
		<form action="{% url 'harcowanie.views.location' location_id=miejsce.id %}" method="POST">
		{% csrf_token %} <br /> <input type="text" name="komentarz" size="100" width="20" />
	</form>
		{% endif %}
	

	{% for comment in comments %}
		<div class="one_news decent_background">
	<span>{{comment.text}}</span>

	</div>

	{% endfor %} 
	</div>
	{% endblock %}
</body>
</html>
