<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "base.html" %}
<html>
{% block title %}{{path.name}}{% endblock %}


<body>
{%block content %} 
	
	<div id="tabela4a">
		<div class='b-load'>
			<div class="one_news decent_background">
	<h1>{{path.name}}</h1>
	<h1>Opis:</h1>
		<span>{{path.description}}</span>
	<h1>Kategoria szlaku:</h1>
		<span>{{path.type}}</span>	
	<h1>Województwo:</h1>
		<span>{{path.district}}</span>
	<h1>Nasze spostrzeżenia:</h1>
		{% if user.is_authenticated %}
		<form action="{% url 'harcowanie.views.path' path_id=path.id %}" method="POST">
		{% csrf_token %} <br /> <input type="text" name="komentarz" size="100" width="20" /></form>
		{% endif %}
		
	{% for comment in comments %}
		<div class="one_news decent_background">
	<span>{{comment.text}}</span>
	</div>
	{% endfor %} 	
</div>

		<script>
	
	$(document).ready(function(){
		  $('#tabela4a').booklet();
		  
		})
	</script>
	
{% endblock %}
</body>
</html>