<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base.html" %}
<html>
{% block title %}Podążaj własną ścieżką!{% endblock %}
<body>
	{% block header %}Podążaj własną ścieżką!{% endblock %}
	 {% block content %}
	 
	 
	<div id="tabela3a">
		<div class='b-load'>
			<div class="one_news decent_background">
		<h1 id="news">Wpisz nazwę szlaku lub fragment:</h1>


		<form action="{% url 'harcowanie.views.paths' %}" method="POST">
			 {% csrf_token %} 
			<input class="searching" type="text" name="nazwa" size="40" />
			
		</form>
		</div>
		


		{% for path in all_paths %}
		<div class="one_news decent_background">

			<a href="/szlak/{{path.id}}"><h2>{{path.name}}</h2></a>
				<span>{{path.description}}</span>
			
		</div>
		{% empty %}
		<div class="one_news decent_background">
			<h2>
					Spróbuj frazy, nie ma?</br>
				<a href="/konto/">Może czas najwyższy umieścić!</a>
				</h2>
		</div>
		{% endfor %}
			</div>
	</div>
		
			<script>
	
	$(document).ready(function(){
		  $('#tabela3a').booklet();
		  
		})
	</script>
	
	
		
		
{% endblock %}
</body>
</html>