<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}


  
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

  <h1>Create an account</h1>
{% if 'wrong_password' in errors %}
<h2 class="error">Hasła nie pasują do siebie</h2>
{% endif %}
{% if 'empty_field' in errors %}
<h2 class="error">Wypełnij wszystkie pola</h2>
{% endif %}
  <form action="{% url 'harcowanie.views.register' problems=1 %}" method="post">
	{% csrf_token %}
	<table>
	<tr>
		<td>Login:</td> <td><input id="username"
			type="text" name="username" maxlength="30" size="17" /></td> 
	</tr>
	<tr>
		<td>Hasło:</td> <td><input type="password"
			name="password" id="password" size="17" />
	</tr>
		<tr>
		<td>Powtórz hasło:</td> <td><input type="password"
			name="confirm_password" id="confirm_password" size="17" /></td> 
	</tr>
		<tr>
		<td>Email:</td> <td><input type="email"
			name="email" id="email" size="30" /></td> 
	</tr>
	<tr>
	<td>Urodziny:</td><td><input type="text" id="datepicker">
	</tr>
	</table>
	<p>
		<input type="submit" value="Create the account">
	</p>
</form>
{% endblock %}