@CHARSET "UTF-8";

body {
	background-image: url("../images/night_background.jpg");
}

.decent_background {
	border: 2px solid #000080;
	background-color: #9966CC;
	opacity: 0.8;
}

#header_text {
	
}

#logging {
	border: 2px solid #000080;
	background-color: #FFFF33;
}

#login {
	border: 2px solid #000080;
	background-color: #FFFDD0;
}

.big_menu_button,.small_menu_button {
	border: 2px solid #EDFA8E;
	font-color: #000080;
}

h2 {
	color: #326647;
}

#content {
	border: 2px solid #000080;
	border-left: 25px solid #000080;
	border-right: 25px solid #000080;
	background-color: #FFFDD0;
}

.button{
	border: 2px solid #000080;
	background-color: #FFFF33;
}