@CHARSET "UTF-8";

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	margin: 0px;
}

.decent_background {
	padding: 10px;
}

/********************************/
/*********** HEADER *************/
/********************************/
#header {
	height: 80px;
	width: 75%;
	padding: 10px;
	float: left;
	margin-bottom: 2px;
}

#header_text {
	font-size: 300%;
	margin: 10px;
	margin-left: 17%;
}

#logging {
	float: right;
	width: 21.4%;
	height: 80px;
	padding: 10px;
	opacity: 0.8;
	text-align: center;
}

#log_button {
	display: inline-block;
	position: relative;
	bottom: 25px;
}

#login {
	font-size: 120%;
	padding: 5px;
}

#user_welcome {
	margin: 5%;
}

#logout_button {
	padding: 0px;
}
/********************************/
/************ MENU **************/
/********************************/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	position: relative;
}

li ul {
	left: 0px;
	top: 0;
	display: none;
}

li:hover ul,li.over ul {
	display: block;
}

#menu {
	width: 15%;
	float: left;
	opacity: 0.6;
}

.big_menu_button,.small_menu_button {
	display: block;
	text-align: center;
	transition-duration: 0.4s;
	padding: 2px;
}

.big_menu_button {
	font-size: xx-large;
	padding-top: 30px;
	padding-bottom: 30px;
}

.small_menu_button {
	font-size: large;
	padding-top: 4px;
	padding-bottom: 4px;
	opacity: 1.0;
}

.small_menu_button:hover,.big_menu_button:hover {
	background-color: buttonhighlight;
}

a:hover,a:visited,a:link,a:active {
	text-decoration: none;
	color: inherit;
}
/********************************/
/*********** CONTENT ************/
/********************************/
#content {
	width: 75%;
	height: 500px;
	margin-left: 17%;
	padding: 10px;
	opacity: 0.8;
}

.one_news {
	height: 100%;
	opacity: 0.95;
	font-size: 150%;
}

.error {
	color: red;
}

/********************************/
/*********** SEARCH *************/
/********************************/
.searching {
	background: url("../images/search.png") no-repeat 10px 6px #EDFA8E;
	height: 20px;
	padding-left: 30px;
	border-radius: 15px;
	font-weight: bolder;
	color: #006633;
	outline: none;
}

.searching:focus {
	box-shadow: 0 0 3px 2px blue;
}

/***********************************/
/*********** TEXT-AREAS ************/
/***********************************/

.text_area {
	background: #EDFA8E;
	height: 20px;
	padding-left: 10px;
	border-radius: 15px;
	font-weight: bolder;
	color: #006633;
	outline: none;
}

.text_area:focus {
	box-shadow: 0 0 3px 2px blue;
}

textarea.text_area{
	height: auto;
}

/********************************/
/*********** BUTTONS ************/
/********************************/

.button{
	display: block;
	position: relative;
	font-size: x-large;
	width: 50%;
}





